table
{
    background: darkcyan;
    text-align: center;
    width: 94%;
    margin: 2%;

    border: 3px solid darkcyan;
    border-radius: 10px;

}


caption
{
    font-size: 150%;

}


tfoot, thead
{
    background: #0c6157;
    color:white;
    font-size:120%
}


tfoot a {
    color:#ffffff;
}


td, th {
    border:1pt solid #1e342c;
}
tr:nth-child(even) {
    background: #0e594f;
}


