<!DOCTYPE html>
<html>
<head>
    <title>Przykład RWD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/uniprojects/responsive/css/base_style.css' %}">
</head>
<body>
<header>
    <h1>Przykład strony responsywnej</h1>
    <nav>
        <a href="index.html">Link 1</a>
        <a href="strona2.html">Link 2</a>
        <a href="strona3.html">Link 3</a>
        <a href="strona4.html">Link 4</a>
    </nav>
</header>
<section>
    <h2>O RWD</h2>
    <p>
                Projektowanie responsywne (RWD od ang. Responsive Web Design) to metoda, która
dostosowuje się do środowiska wyświetlania. Użytkownik może swobodnie poruszać się po
stronach internetowych korzystając z różnych urządzeń, także mobilnych. Rozmiar strony, jej
rozdzielczość oraz orientacja ekranu dopasowują się do urządzenia, na którym aktualnie jest
wyświetlana.
    </p>
    <p class="srodek">
        <img src="{% static "/uniprojects/responsive/img/baner.jpg" %}" alt="Zdjęcie"/>
    </p>
</section>
<section>
    <h2>Zapytanie o media</h2>
    <p>

        Mechanizm CSS3 umożliwił wybór danego pliku CSS w zależności od spełnienia określonych
kryteriów i służy wykorzystaniu tego samego kodu HTML dla przeglądarek desktopowych i
mobilnych. Podczas ładowania stylów przeglądarka sprawdza rozdzielczość ekranu urządzenia.
    </p>
</section>
<section>
    <div class="galeria">
        <h2>Responsywna galeria</h2>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz1.jpg" %}" alt="Zdjęcie 1"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz2.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz3.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz4.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz5.jpg" %}" alt="Zdjęcie 1"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz6.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz7.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz8.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz9.jpg" %}" alt="Zdjęcie 1"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz10.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz2.jpg" %}" alt="Zdjęcie 2"/>
        </div>
        <div class="slajd">
            <img src="{%  static "/uniprojects/tablesandforms/img/miniatury/obraz2.jpg" %}" alt="Zdjęcie 2"/>
        </div>

    </div>
</section>
<footer>&copy;BP</footer>
</body>
</html>
