
<!DOCTYPE html>
<html lang="en">
{# colors:071314 111F21 1E363B 1D383D #259C8D #}



<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">

</head>


<body>
    <div id="container">

            <div id="header">


                <div id="banner">
                    <a href=".." class="banner_link"> <h1> Kamil Puła Projects </h1></a>

                </div>

                <div id="menu">
                    <a href="/home" class="menu_link">Home</a>
                    <a href="/projects" class="menu_link">Projects</a>
                    <a href="/contact" class="menu_link">Contact</a>

                </div>


            </div>


            <div id="content">
                {% block content %}
                {%  endblock %}


            </div>


            <div id="footer">


            </div>
    </div>


</body>


</html>