/* wyzerowanie marginesów i wypełnień: */
h1, h2, h3 {
    margin:0;
    padding:0;
}

body
{
    background: #4ae;
    color: #000040;
}

#kontener
{
    background: white;
}
#menu {
float:left; width:16%;
padding:1%;
}



#tresc
{
    float:left; width:60%;
    padding:1%;
}

#pasek
{
    float:right; width:16%;
    padding:1%;
}
#stopka
{
    clear:both;
    width:100%;
    padding:5px 0 5px 0;
    text-align:center;
}

h1,h2, #stopka
{
    background: #000040;
    color: #8080ff;
    text-align: center;
}

*.box { background:#0000a0;
color:#dbffff;
padding:5px;
margin:5px;
font-size:90%;}

/* hiperłącza w elementach klasy box*/

*.box a{color:#ffffb0}