/* wyzerowanie marginesów i wypełnień: */
h1, h2, h3 {
    margin:0;
    padding:0;
}

body
{
    background: #4ae;
    color: #000040;
}


#menu
{
    background: #ffffff

}


#tresc
{
    background: lightskyblue;
}


h1,h2, #stopka
{
    background: #000040;
    color: #8080ff;
    text-align: center;
}
