<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">

            <div id="header">
                <h2>Dotacje</h2>
            </div>

            <div id="main_content">

                <form>
                    <fieldset id="Size" name="Size" >
                        <label>Beneficjent<input type="text" id="beneficient"> </label>
                        <br/><label>Wartość dotacji<input type="text" id="dotation-valie"> </label>


                    </fieldset>

                    <fieldset id="Extras">
                        <legend>Dane karty płatniczej</legend>
                        <label>
                            <input type="radio" name="card" value="visa"/>
                        Visa <br/>
                        </label>
                        <label>
                            <input type="radio" name="card" value="mastercard"/>
                        Mastercard <br/>
                        </label>


                    </fieldset>
                    <fieldset>
                        <label>Darczyńca<input type="text" id="darczynca"> </label>



                    </fieldset>



                </form>

            </div>

        </div>


</body>
</html>