<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">

            <div id="header">
                <h2>Dotacje</h2>
            </div>

            <div id="main_content">

                <form>
                    <fieldset>
                    <table>
                        <label>
                            <tbody>
                            <tr>

                                <th>Beneficjent:</th>
                                <th><input type="text" id="beneficient"> </th>
                            </tr>

                            <tr>
                                <th>Wartość dotacji: </th>
                                <th> <input type="text" id="dotation-valie"></th>
                            </tr>

                            </tbody>
                        </label>

                    </table>
                    </fieldset>

                    <fieldset id="dane" name="dane" >
                        <legend>Dane karty płatniczej</legend>
                        <table>
                        <label>
                            <tbody>
                            <label>
                            <tr>

                                <th>Karta:</th>
                               <th><input type="radio" name="card" value="visa"/></th> Visa
                                <th><input type="radio" name="card" value="mastercard"/></th>Mastercard



                            </tr>
                                </label>
                            <tr>

                                <th>Numer:</th>
                                <th><input type="text" id="card-number"> </th>
                            </tr>

                            <tr>
                                <th>Wartość dotacji: </th>
                                <th> <input type="date" id="date"></th>
                            </tr>
                            <tr>

                                <th>Kod CVV:</th>
                                <th><input type="text" id="cvv-number"> </th>
                            </tr>
                            </tbody>
                        </label>

                    </table>


                    </fieldset>

                    <fieldset id="Extras">




                    </fieldset>
                    <fieldset>
                        <label>Darczyńca<input type="text" id="darczynca"> </label>



                    </fieldset>



                </form>

            </div>

        </div>


</body>
</html>