<!DOCTYPE html>
<html lang="pl">

    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Szybki kurs HTML  - formularze </title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/uniprojects/tablesandforms/css/base_style.css' %}">

</head>


<body>
    
    <div id="kontener">
        
        <div id="baner"> <h2> Szybki kurs HTML </h2> </div>

        <div id="menu">
            <ul>
                <li><a href="/projects/uniprojects/tablesandforms" >Podstawowe znaczniki</a> </li>
                <li><a href="/projects/uniprojects/tablesandforms/tables">Tworzenie tabel</a> </li>
                <li><a href="/projects/uniprojects/tablesandforms/forms">Budowa formularzy</a></li>
            </ul>


        </div>

        <div id="tresc">
            <h1>Podstawowe znaczniki HTML to: </h1>

            <ul>
                <li>&lt;form&gt; - znacznik podstawowy zawierający pola formularza</li>
                <li>&lt;input&gt; - znacznik umożliwia wstawienie różnych pól (pola tekstowe, przycisk typu radio, przycisk typu checkbox) w zależności od wartości jego atrybutu type</li>
                <li>&lt;select&gt; - pole forumarza typu lista rozwijana </li>
                <li>&lt;textarea&gt; - pole formularza typu obszar tekstowy</li>
                <li>&lt;button&gt; - pole formularza typu przycisk</li>
            </ul>
            <form >
                <h4>Przykładowy formularz HTML</h4> <br/>
                Nazwisko:<input type="text" name="login" autofocus /> <br />
                Wiek:<input type="text" name="login"/> <br />
                Państwo
                <select size="1" name="Panstwo">
                    <option value="p">Polska</option>
                    <option value="a">Anglia</option>
                    <option value="u">USA</option>
                    <option value="s">Francja</option>
                    <option value="n">Niemcy</option>
                </select>
                <br/>
                Adres e-mail:
                <input type="email" id="email" />


                <h5>Zamawiam tutorial z języka:</h5> <br />
                <label>
                    <input type="checkbox" name="PHP" value="PHP" />
                Język C/C++
                </label>
                <label>
                    <input type="checkbox" name="C/C++" value="C/C++" />
                 Język Java
                </label>
                <label>
                    <input type="checkbox" name="Java" value="Java" />
                Język PHP <br />
                </label>

                <h5>Sposób zapłaty:</h5>

                <label>
                    <input type="radio" name="pm" value="ec" />
                Eurocard
                </label>
                <label>
                    <input type="radio" name="pm" value="vi" />
                 Visa
                </label>
                <label>
                    <input type="radio" name="pm" value="pb"/>
                Przelew bankowy
                </label>

                <br/> <input type="submit" value="Wyślij" />
                <input type="reset" value="Wyczyść" />

            </form>


        </div>
        <div id="pasek">
            <!-- W pasku zawarty jest kolejny blok klasy box:-->
            <div class="box">
            <h3>Walidatory:</h3>
            <ul>
             <li> <a href="http://validator.w3.org/">HTML </a></li>
             <li> <a href="http://jigsaw.w3.org/css-validator/">CSS</a></li>
            </ul>
            </div>
            <!-- Kolejny blok klasy box:-->
            <div class="box">
            <h3>Kursy:</h3>
            <ul>
                <li> <a href="https://www.w3schools.com/html/"> HTML </a></li>
                <li> <a href="https://www.w3schools.com/css/"> CSS </a></li>
                <li> <a href="https://www.w3schools.com/js/"> JS </a></li>
                <li> <a href="https://www.w3schools.com/php/"> PHP </a></li>
            </ul>
            </div>
        </div>

        <div id="stopka"> &copy;BP </div>

    </div>

</body>


</html>