{%  extends 'pai_page/tablesandforms/base.html' %}
{%  load static %}

{% block main %}
    <h1>Podstawowe znaczniki do tworzenia formularzy to: </h1>

            <ul>
                <li>&lt;form&gt; - znacznik podstawowy zawierający pola formularza</li>
                <li>&lt;input&gt; - znacznik umożliwia wstawienie różnych pól (pola tekstowe, przycisk typu radio, przycisk typu checkbox) w zależności od wartości jego atrybutu type</li>
                <li>&lt;select&gt; - pole forumarza typu lista rozwijana </li>
                <li>&lt;textarea&gt; - pole formularza typu obszar tekstowy</li>
                <li>&lt;button&gt; - pole formularza typu przycisk</li>
            </ul>
            <form id="or" action="mailto:kamil.pula.dev@gmail.com" method="post" >
                <h4>Przykładowy formularz HTML</h4> <br/>
                Nazwisko:<input type="text" name="login" autofocus /> <br />
                Wiek:<input type="text" name="login"/> <br />
                Państwo
                <select size="1" name="Panstwo">
                    <option value="p">Polska</option>
                    <option value="a">Anglia</option>
                    <option value="u">USA</option>
                    <option value="s">Francja</option>
                    <option value="n">Niemcy</option>
                </select>
                <br/>
                Adres e-mail:
                <input type="email" id="email" />


                <h5>Zamawiam tutorial z języka:</h5> <br />
                <label>
                    <input type="checkbox" name="PHP" value="PHP" />
                Język C/C++
                </label>
                <label>
                    <input type="checkbox" name="C/C++" value="C/C++" />
                 Język Java
                </label>
                <label>
                    <input type="checkbox" name="Java" value="Java" />
                Język PHP <br />
                </label>

                <h5>Sposób zapłaty:</h5>

                <label>
                    <input type="radio" name="pm" value="ec" />
                Eurocard
                </label>
                <label>
                    <input type="radio" name="pm" value="vi" />
                 Visa
                </label>
                <label>
                    <input type="radio" name="pm" value="pb"/>
                Przelew bankowy
                </label>

                <br/> <input type="submit" value="Wyślij" />
                <input type="reset" value="Wyczyść" />

            </form>

{% endblock %}