{%  extends 'pai_page/tablesandforms/base.html' %}
{%  load static %}
{% block main %}
    <div id="loan">
            <table id="loan_table">
                <tbody>
                <tr>
                    <td>Kwota:</td>
                    <td><input id="kwota"></td>
                </tr>
                <tr>
                    <td>Ile rat:</td>
                    <td><input id="ilerat"></td>
                </tr>
                <tr>
                    <td>Procent:</td>
                    <td><input id="procent"></td>
                </tr>
                <tr>
                    <td>Rata miesięczna:</td>
                    <td><input id="ratamiesieczna" value="" disabled></td>
                </tr>
                <tr>
                    <td>Kwota z odsetkami:</td>
                    <td><input id="kwotazodsetkami" value="" disabled></td>
                </tr>
                </tbody>

            </table>
            <button onclick="calcInstallment()">Oblicz ratę stałą</button>
        </div>

        <div><h3>Dodawanie</h3>

            <table>
                <tbody>
                <tr>
                    <td>Liczba 1:</td>
                    <td><input id="l1"/></td>
                </tr>
                <tr>
                    <td>Liczba 2:</td>
                    <td><input id="l2"/></td>
                </tr>
                <tr>
                    <td>
                        <button onclick="sumFields()">Oblicz sumę :</button>
                    </td>

                    <td><input id="suma" disabled value=""/></td>
                </tr>
                </tbody>
            </table>
        </div>

{%  endblock %}

