{% extends 'pai_page/tablesandforms/base.html' %}
{% load static %}
{% block main %}
    <div class="gallery">
        <h2>Galeria zdjęć</h2>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz1.jpg" %}" target="_blank"><img
                src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz1.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz2.jpg" %}" target="_blank"><img
                src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz2.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz3.jpg" %}" target="_blank"><img
                src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz3.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz4.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz4.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz5.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz5.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz6.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz6.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz7.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz7.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz8.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz8.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz9.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz9.jpg" %}" alt=""></a>
        </div>
        <div class="picture">
            <a href="{% static "/uniprojects/tablesandforms/img/obraz10.jpg" %}" target="_blank"><img
                    src="{% static "/uniprojects/tablesandforms/img/miniatury/obraz10.jpg" %}" alt=""></a>
        </div>


    </div>

{% endblock %}