{%  extends 'pai_page/tablesandforms/base.html' %}
{%  load static %}
{% block main %}
    <h1>Podstawowe znaczniki HTML to: </h1>
            <ul>

                <li>&lt;html&gt; - korzeń dokumentu</li>
                <li>&lt;head&gt; - nagłowek strony z informacji dla przeglądarek</li>
                <li>&lt;body&gt;- właściwa treść dokumentu widoczna w oknie przeglądarki</li>
                <li>&lt;div&gt; - element blokowy</li>
                <li>&lt;p&gt; - akapit</li>
                <li>&lt;ol&gt;&lt;ul&gt;&lt;li&gt; - elementy listy wypunktowanej lub numerowanej</li>
                <li>&lt;img&gt; - obrazek</li>
                <li>&lt;a&gt; - hiperłącze</li>

            </ul>

            <p>
                <a href="http://validator.w3.org/ ">
                    HTML walidator <img src='/static/uniprojects/tablesandforms/img/img.png' alt="My_img" width = "110" height = "40" />
                </a>
            </p>

{% endblock %}