{% extends 'pai_page/tablesandforms/base.html'%}
{%  load static %}
{%  block csslink %}
<link rel="stylesheet" href="{% static '/uniprojects/tablesandforms/css/tables.css' %}">
{%  endblock %}
{% block main %}
    <h1>Podstawowe znaczniki do tworzenia tabel to: </h1>
            <ul>
                <li>&lt;table&gt; - znacznik zawierający całą tabelę</li>
                <li>&lt;caption&gt; - tytuł tabeli</li>
                <li>&lt;thead&gt;- nagłówek tabeli</li>
                <li>&lt;tbody&gt; - zawartość tabeli</li>
                <li>&lt;tfoot&gt; - stopka tabeli</li>
                <li>&lt;tr&gt; - wietsz tabeli</li>
                <li>&lt;th&gt; - komórka tabeli (zawarta w wierszu)</li>
                <li>&lt;td&gt; - komórka nagłówka tabeli (również zawarta w wierszu)</li>
            </ul>
            <h1 >Przykładowa tabela HTML</h1>

            <table>
                <caption>Popularność języków programowania</caption>
                    <thead>
						<tr>
							<th rowspan="2">Język programowania</th>
							<th colspan="2">Pozycja </th>
						</tr>

						<tr>
							<th>Luty 2022</th>
							<th>Luty 2021</th>
						</tr>

                 <tbody>
					 <tr>
						 <td>Python</td>
						 <td>1</td>
						 <td>3</td>
					 </tr>

					 <tr >
						 <td>C</td>
						 <td>2</td>
						 <td>1</td>
					 </tr>

					 <tr>
						 <td>Java</td>
						 <td>3</td>
						 <td>2</td>
					 </tr>

					 <tr >
						 <td>C++</td>
						 <td>4</td>
						 <td>4</td>
					 </tr>

					 <tr>
						 <td>C#</td>
						 <td>5</td>
						 <td>5</td>
					 </tr>

                 </tbody>

                 <tfoot>
					 <tr>
						 <td colspan="3">
							Na podstawie:<br>
							<a href = "https://www.tiobe.com/index.php/content/tpci/index.html">http://www.tiobe.com/index.php/content/tpci/index.html </a>
						 </td>

					 </tr>
                 </tfoot>
            </table>
{% endblock %}


            
