<!DOCTYPE html>
<html lang="pl">

    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Szybki kurs HTML - tabele </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'uniprojects/css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'uniprojects/css/tables.css' %}">

</head>


<body>
    
    <div id="kontener">
        
        <div id="baner"> <h2> Szybki kurs HTML </h2> </div>

        <div id="menu">
            <ul>
                <li><a href="/projects/uniprojects/tablesandforms" >Podstawowe znaczniki</a> </li>
                <li><a href="/projects/uniprojects/tablesandforms/tables">Tworzenie tabel</a> </li>
                <li><a href="/projects/uniprojects/tablesandforms/forms">Budowa formularzy</a></li>
            </ul>


        </div>
        
        <div id="tresc">
			<h1>Podstawowe znaczniki HTML to: </h1>
            <ul>
                <li>&lt;table&gt; - znacznik zawierający całą tabelę</li>
                <li>&lt;caption&gt; - tytuł tabeli</li>
                <li>&lt;thead&gt;- nagłówek tabeli</li>
                <li>&lt;tbody&gt; - zawartość tabeli</li>
                <li>&lt;tfoot&gt; - stopka tabeli</li> 
                <li>&lt;tr&gt; - wietsz tabeli</li> 
                <li>&lt;th&gt; - komórka tabeli (zawarta w wierszu)</li>
                <li>&lt;td&gt; - komórka nagłówka tabeli (również zawarta w wierszu)</li>
            </ul>
            <h1 >Przykładowa tabela HTML</h1>

            <table>
                <caption>Popularność języków programowania</caption>
                    <thead>
						<tr>
							<th rowspan="2">Język programowania</th>
							<th colspan="2">Pozycja </th>
						</tr>
						
						<tr>
							<th>Luty 2022</th>
							<th>Luty 2021</th>
						</tr>
                    
                 <tbody>
					 <tr>
						 <td>Python</td>
						 <td>1</td>
						 <td>3</td>
					 </tr>
					 
					 <tr class="parzysty">
						 <td>C</td>
						 <td>2</td>
						 <td>1</td>
					 </tr>
					 
					 <tr>
						 <td>Java</td>
						 <td>3</td>
						 <td>2</td>
					 </tr>
					 
					 <tr class="parzysty">
						 <td>C++</td>
						 <td>4</td>
						 <td>4</td>
					 </tr>
					 
					 <tr>
						 <td>C#</td>
						 <td>5</td>
						 <td>5</td>
					 </tr>
					 
                 </tbody>
				 
                 <tfoot>
					 <tr>
						 <td colspan="3">
							Na podstawie:<br>
							<a href = "https://www.tiobe.com/index.php/content/tpci/index.html">http://www.tiobe.com/index.php/content/tpci/index.html </a>
						 </td>
						 
					 </tr>
                 </tfoot>
            </table>
            
        </div>


        <div id="pasek">
            <!-- W pasku zawarty jest kolejny blok klasy box:-->
            <div class="box">
            <h3>Walidatory:</h3>
            <ul>
             <li> <a href="http://validator.w3.org/">HTML </a></li>
             <li> <a href="http://jigsaw.w3.org/css-validator/">CSS</a></li>
            </ul>
            </div>
            <!-- Kolejny blok klasy box:-->
            <div class="box">
            <h3>Kursy:</h3>
            <ul>
                <li> <a href="https://www.w3schools.com/html/"> HTML </a></li>
                <li> <a href="https://www.w3schools.com/css/"> CSS </a></li>
                <li> <a href="https://www.w3schools.com/js/"> JS </a></li>
                <li> <a href="https://www.w3schools.com/php/"> PHP </a></li>
            </ul>
            </div>
        </div>

        <div id="stopka"> &copy;BP </div>

    </div>
    
</body>


</html>