{% extends 'hobbyprojects/wordlepl/base.html' %}




{% block content %}
    <script type="text/javascript" defer>
        console.log("Page loaded.");

        rowList = [document.getElementsByClassName('tile_input_r1'),
        document.getElementsByClassName('tile_input_r2'),
        document.getElementsByClassName('tile_input_r3'),document.getElementsByClassName('tile_input_r4'),
        document.getElementsByClassName('tile_input_r5'),document.getElementsByClassName('tile_input_r6')];

        let stage=0;

        let wordToGuess = getRandomWord();




        document.addEventListener('keydown',function(event){
        if (event.code==='Enter'){
           stage = wordlepl(stage,wordToGuess);
           console.log(wordToGuess);

        }
        if (event.code==='Backspace'){
            clearRow(rowList[stage]);
            rowList[stage][0].focus();
        }
        })
    </script>

    <div id="gamecontainer">

        <div class="tile_row" id="row1">
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r1" id="t11" onkeyup="autoMove(this,'t12')"  autofocus> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r1" id="t12" onkeyup="autoMove(this,'t13')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r1" id="t13" onkeyup="autoMove(this,'t14')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r1" id="t14" onkeyup="autoMove(this,'t15')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r1" id="t15"> </div>


        </div>

        <div class="tile_row" id="row2">
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r2" id="t21" onkeyup="autoMove(this,'t22')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r2" id="t22" onkeyup="autoMove(this,'t23')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r2" id="t23" onkeyup="autoMove(this,'t24')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r2" id="t24" onkeyup="autoMove(this,'t25')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r2" id="t25" > </div>
        </div>

        <div class="tile_row" id="row3">
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r3" id="t31" onkeyup="autoMove(this,'t32')" > </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r3" id="t32" onkeyup="autoMove(this,'t33')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r3" id="t33" onkeyup="autoMove(this,'t34')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r3" id="t34" onkeyup="autoMove(this,'t35')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r3" id="t35"> </div>
        </div>

        <div class="tile_row" id="row4">
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r4" id="t41" onkeyup="autoMove(this,'t42')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r4" id="t42" onkeyup="autoMove(this,'t43')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r4" id="t43" onkeyup="autoMove(this,'t44')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r4" id="t44" onkeyup="autoMove(this,'t45')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r4" id="t45"> </div>
        </div>

        <div class="tile_row" id="row5">
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r5" id="t51" onkeyup="autoMove(this,'t52')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r5" id="t52" onkeyup="autoMove(this,'t53')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r5" id="t53" onkeyup="autoMove(this,'t54')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r5" id="t54" onkeyup="autoMove(this,'t55')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r5" id="t55"> </div>
        </div>

        <div class="tile_row" id="row6">
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r6" id="t61" onkeyup="autoMove(this,'t62')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r6" id="t62" onkeyup="autoMove(this,'t63')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r6" id="t63" onkeyup="autoMove(this,'t64')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r6" id="t64" onkeyup="autoMove(this,'t65')"> </div>
            <div class="tile"> <input type="text" maxlength="1" class="tile_input_r6" id="t65"> </div>
        </div>
    </div>






{% endblock %}

{% block results %}
    <script>
        rowList = [document.getElementsByClassName('tile_input_r1'),
        document.getElementsByClassName('tile_input_r2'),
        document.getElementsByClassName('tile_input_r3'),document.getElementsByClassName('tile_input_r4'),
        document.getElementsByClassName('tile_input_r5'),document.getElementsByClassName('tile_input_r6')];
        for (let i=1; i<rowList.length; i++){
            blockRow(rowList[i]);
        }
    </script>

    <div class="letter_row" id="letter_row1">
        <div class="letter_box" id="lr11">Q</div>
        <div class="letter_box" id="lr12">W</div>
        <div class="letter_box" id="lr13">E</div>
        <div class="letter_box" id="lr14">R</div>
        <div class="letter_box" id="lr15">T</div>
        <div class="letter_box" id="lr16">Y</div>
        <div class="letter_box" id="lr17">U</div>
        <div class="letter_box" id="lr18">I</div>
        <div class="letter_box" id="lr19">O</div>
        <div class="letter_box" id="lr110">P</div>
    </div>
    <div class="letter_row" id="letter_row2">
        <div class="letter_box" id="lr21">A</div>
        <div class="letter_box" id="lr22">S</div>
        <div class="letter_box" id="lr23">D</div>
        <div class="letter_box" id="lr24">F</div>
        <div class="letter_box" id="lr25">G</div>
        <div class="letter_box" id="lr26">H</div>
        <div class="letter_box" id="lr27">J</div>
        <div class="letter_box" id="lr27">K</div>
        <div class="letter_box" id="lr28">L</div>
    </div>
    <div class="letter_row" id="letter_row3">
        <div class="letter_box" id="lr31">Z</div>
        <div class="letter_box" id="lr32">X</div>
        <div class="letter_box" id="lr33">C</div>
        <div class="letter_box" id="lr34">V</div>
        <div class="letter_box" id="lr35">B</div>
        <div class="letter_box" id="lr36">N</div>
        <div class="letter_box" id="lr37">M</div>

    </div>

{#    <button onclick="test()"> Testjs </button>Row1: <label for="row0"></label> <input id="row0_res" disabled value=""> <br/>#}
{#    Row2: <br/>#}
{#    Row3: <br/>#}
{#    Row4: <br/>#}
{#    Row5: <br/>#}

{% endblock %}

