<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Pizza creator - for you!</title>
    </head>


    <body>

        <div id="container">

            <div id="header">
                <h1>Pizza creator</h1>
            </div>

            <div id="main_content">

                <form>
                    <fieldset id="Size" name="Size" >
                        <legend>Size</legend>

                        <label>
                            <input type="radio" name="small" value="small"/>
                            Small
                        </label>
                        <label>
                            <input type="radio" name="small" value="small"/>
                            Medium
                        </label>
                        <label>
                            <input type="radio" name="small" value="small"/>
                            Yuuge
                        </label>

                    </fieldset>

                    <fieldset id="Extras">
                        <legend>Extras</legend>
                        <label>
                            <input type="checkbox" name="ham" value="ham"/>
                        Ham <br/>
                        </label>
                        <label>
                            <input type="checkbox" name="salami" value="salami"/>
                        Salami <br/>
                        </label>
                        <label>
                            <input type="checkbox" name="bacon" value="bacon"/>
                        Bacon <br/>
                        </label>
                        <label>
                            <input type="checkbox" name="bell_pepper" value="bell_pepper"/>
                        Bell Pepper <br/>
                        </label>
                        <label>
                            <input type="checkbox" name="tomato" value="tomato"/>
                        Tomato <br/>
                        </label>
                        <label>
                            <input type="checkbox" name="cheese" value="cheese"/>
                            Cheese <br/>
                        </label>

                    </fieldset>

                    <fieldset id="Sauces">

                        <legend>Sauces</legend>

                        Choose your sauce:
                        <select size="3" name="sauces" multiple="2">
                            <option value="ketchup">Ketchup</option>
                            <option value="salsa">Salsa</option>
                            <option value="garlic">Garlic</option>
                        </select>

                        <br/>Additional info:
                        <textarea> </textarea>

                    </fieldset>



                </form>

            </div>

        </div>


    </body>


</html>