/*colors:071314 111F21 1E363B 1D383D 259C8D 0c6157 0a9f8d

font: #0a9f8d
background: #0c6157
header-background: #162C29

*/
:root
{
    --background-color: #0c6157;
    --font-color: #0a9f8d;
    --header-background-color: #162C29;

    --a-fontcolor: #0a9f8d;
    --a-background-color:#0c6157;
}


body
{
    background: var(--background-color);
    zoom:150%;
}


#header
{
    padding-bottom:10px;
}


#banner, #menu, #content
{
    background: var(--header-background-color);
    color: var(--font-color);
    /*padding:1pt;*/
    border:1px solid;
    padding-left:2px;
}


#menu
{
    font-size: 110%;
    padding-left:1pt;
}



h1
{
    font-size:150%;
}

a.banner_link
{
    text-decoration: none;
    color: var(--a-fontcolor);
}

a.menu_link
{
    text-decoration: none;
    color: var(--a-fontcolor);
    border-right: 1px solid;
    padding-left:2px;
    padding-right:4px;
}

a.menu_link:hover
{
    /*color: #0c6157;*/
    background: var(--a-background-color);
}