
<!DOCTYPE html>
<html lang="en">
{# colors:071314 111F21 1E363B 1D383D #259C8D #}



<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">

</head>


<body>
    <div id="container">

            <div id="header">


                <div id="banner">
                    <h1> {{ name }} </h1>
                </div>

                <div id="menu">
                    <a href="#">Home</a>

                </div>


            </div>


            <div id="content">



            </div>


            <div id="footer">


            </div>
    </div>


</body>


</html>