<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Selectors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/uniprojects/other/css/css-selectors_style.css' %}">
</head>

<body>
    <div id="container">


        <div id="header">

           <h1>Właściwości selektorów CSS</h1>

        </div>


        <div id="content">

            <h3 class="property">font-family</h3>


            <p class="description">
                <strong>krój czcionki</strong><br/>
                Przykład: <em>Arial, "Times New Roman", Verdana, Georgia</em>
            </p>


            <h3 class="property"> font-size </h3>
            <p class="description">
                <strong>wielkość czcionki</strong></br>
                Przykład: <em>200%, 18px, small, medium, large </em>
            </p>

            <h3 class="property">font-style</h3>

            <p class="description">
                <strong>styl czcionki</strong><br/>
                Przykład:<em> normal, italic</em>
            </p>

            <p id="footer">
                Autor strony: KamilpDev
            </p>



        </div>





    </div>



</body>

</html>