<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maths</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/uniprojects/other/css/maths_style.css' %}">
</head>

    <div id="container">

        <div id="header">
            <h2> &#252ber </h2> <br/>
            to słowo oznacza - <i>,,nad" </i>
        </div>

        <div id="content">

            <h2 id="wzor", title="opis wzoru matematycznego">Wzór matematyczny</h2><br/>
            <pre>
                a<sup>2</sup> = 4
            a<sub>1</sub>=2, a<sub>2</sub>=-2
            </pre>


        </div>

        <div id="footer">
            x&ges;15 <br/>
            50 &euro; <br/>
            &frac14; &times; &frac12; < 3<sup>2</sup> <br/>

        </div>

    </div>

<body>

</body>


</html>